body {
    background-color: #f8f9fa;
}
main {
    min-height: 75vh;
}
.card {
    border: none;
    border-radius: 1rem;
}
.table {
    background-color: white;
}
.status-badge {
    font-size: 0.85rem;
}
